<h1>Bienvenidos</h1>


<div class="jumbotron">
  <h1>Artistas!</h1>
  <p>Registra tus artistas con sus albums para compartirlas por la web :) </p>
  <p><a class="btn btn-primary btn-lg" href="/crearArtista" role="button">Registra Artistas</a>
    <a class="btn btn-primary btn-lg" href="/listarArtistas" role="button">Listar Artistas</a> </p>
</div>
